<mat-toolbar class="tiny-information-section">
  <span class="section-email"><i class="fa-regular fa-envelope"></i> schoolemail&#64;gmail.com</span>
  <span class="section-phone"><i class="fa-solid fa-phone"></i> 02111111</span>
  <span class="spacer"></span>
  <div class="information-flag">
      <img src="assets/img/indonesia.png" alt="indonesian flag" class="flag indonesian-flag" />
      <img src="assets/img/united-kingdom.png" alt="british flag" class="flag british-flag" />
  </div>
</mat-toolbar>